(public/media/projects/concrete/img-01.jpg
public/media/projects/echoes/img-01.jpg
public/media/projects/echoes/img-02.jpg
public/media/projects/shadow/img-01.jpg
public/media/projects/void/img-01.jpg)